{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": false,
    "semi": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "lib/",
        "utils/",
        "hooks/",
        "components/",
        "(assets/|public/)",
        "(.css)"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}